@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
html {
	font-size: 1rem;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	color: #111213;
	background: #f2f3f5;
}

header {
	margin-bottom: 3rem;
}

main.container {
	margin-bottom: 5rem;
}

p {
	font-family: 'Inter', 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: #000000;
}

.link,
.link:hover {
	text-decoration: none;
}

a.link-plus {
	color: #000000;
	text-decoration: none;
	border-bottom: 2px solid #8f9eb2;
	position: relative;
}

a.link-plus:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #000000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}

a.link-plus:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* Navbar */

.navbar-logo {
}

a.link-plus.navbar-logo {
	border-bottom: 3px solid #8f9eb2;
}

a.link-plus.navbar-logo:before {
	height: 3px;
	bottom: -3px;
}

.nav-link {
	font-size: 1.3rem;
}

/* Page */

.page-title {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-weight: 700;
	font-family: 'PT Serif', serif;
	letter-spacing: -1px;
}

.page-subtitle {
	margin-bottom: 0.5rem;
	font-weight: 300;
	letter-spacing: -1px;
}

.page-content {
	margin-top: 2rem;
}

.page-block {
}

.page-block-title {
	margin: 2rem 0 3rem 0;
	font-weight: 300;
	letter-spacing: -1px;
}

/* Card */

.card {
	border-radius: 0;
	box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
	border: 1px solid transparent;
	margin-bottom: 2rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	transition: 0.3s ease;
}

.card:hover {
	border: 1px solid #000;
	box-shadow: 8px 8px 1px #8f9eb2;
}

.card-img-top {
	border-radius: 0px;
}

.card-body {
	/* padding-left: 0; */
}

.card-text {
	margin-bottom: 0;
	line-height: 1.2;
}
/* Images */

.caption {
	margin: 1rem 0;
	color: #9e9e9e;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1rem;
}

.mobile-screenshot {
	width: 365px;
	height: 645px;
	margin-top: 3rem;
}

.tech-details {
	margin-bottom: 1rem;
}

.tech-details .label {
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.tech-details > p {
	margin-bottom: 0;
}

.link-details .label {
	margin-bottom: 0.5rem;
	font-weight: 500;
}
.link-details .link {
	margin-bottom: 0.2rem;
}

.link-details > p {
	margin-bottom: 0;
}
